Fabric_adf/P_FL_04.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "If Condition1",
        "type": "IfCondition",
        "dependsOn": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('v1'),variables('v2'))",
            "type": "Expression"
          },
          "ifFalseActivities": [
            {
              "name": "Wait2",
              "type": "Wait",
              "dependsOn": [],
              "typeProperties": {
                "waitTimeInSeconds": 5
              }
            }
          ],
          "ifTrueActivities": [
            {
              "name": "Wait1",
              "type": "Wait",
              "dependsOn": [],
              "typeProperties": {
                "waitTimeInSeconds": 1
              }
            }
          ]
        }
      },
      {
        "name": "Set variable1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "If Condition1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "v2",
          "value": 500
        }
      },
      {
        "name": "If Condition1_copy1",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('v1'),variables('v2'))",
            "type": "Expression"
          },
          "ifFalseActivities": [
            {
              "name": "Wait2_copy1",
              "type": "Wait",
              "dependsOn": [],
              "typeProperties": {
                "waitTimeInSeconds": 5
              }
            }
          ],
          "ifTrueActivities": [
            {
              "name": "Wait1_copy1",
              "type": "Wait",
              "dependsOn": [],
              "typeProperties": {
                "waitTimeInSeconds": 1
              }
            }
          ]
        }
      }
    ],
    "variables": {
      "v1": {
        "type": "Integer",
        "defaultValue": 500
      },
      "v2": {
        "type": "Integer",
        "defaultValue": 243
      }
    }
  }
}