Fabric_adf/P_FL_08.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "supermarket"
            },
            "schema": [],
            "connectionSettings": {
              "name": "first_lakehoue",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "d9ebad35-6987-4924-8dbf-677847936bf0",
                  "workspaceId": "9ec5a999-67d7-41a8-8979-6c8ebda21878",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "60a6880f-12a0-4988-9db5-dea7ff8b0650"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "columnCount",
            "exists",
            "structure"
          ]
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "test_data"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "connectionSettings": {
              "name": "first_lakehoue",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "47936bf0-6778-8dbf-4924-6987d9ebad35",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "externalReferences": {
                  "connection": "60a6880f-12a0-4988-9db5-dea7ff8b0650"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "exists",
            "childItems",
            "itemName",
            "itemType",
            "lastModified"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1_copy1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "flname",
          "value": {
            "value": "@activity('Get Metadata1_copy1').output.childItems[1].name",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Get Metadata1_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Metadata1_copy1').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "testfilename",
                "value": {
                  "value": "@item().name",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set variable2",
              "dependsOn": []
            },
            {
              "type": "AppendVariable",
              "typeProperties": {
                "variableName": "flnames",
                "value": {
                  "value": "@item().name",
                  "type": "Expression"
                }
              },
              "name": "Append variable1",
              "dependsOn": [
                {
                  "activity": "Set variable2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Get Metadata1_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@variables('flnames')",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "test1",
                "value": {
                  "value": "@item()",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set variable3",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach2",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "flname": {
        "type": "String"
      },
      "flnames": {
        "type": "Array"
      },
      "testfilename": {
        "type": "String"
      },
      "test1": {
        "type": "String"
      }
    }
  }
}