Fabric_adf/P_FL_09.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "supermarket"
            },
            "schema": [],
            "connectionSettings": {
              "name": "first_lakehoue",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "47936bf0-6778-8dbf-4924-6987d9ebad35",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "60a6880f-12a0-4988-9db5-dea7ff8b0650"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "var_statename",
          "value": {
            "value": "@activity('Lookup1').output.firstRow.State",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": [
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "supermarket"
            },
            "schema": [],
            "connectionSettings": {
              "name": "first_lakehoue",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "47936bf0-6778-8dbf-4924-6987d9ebad35",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "60a6880f-12a0-4988-9db5-dea7ff8b0650"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1_copy1",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "var_statename": {
        "type": "String"
      }
    }
  }
}